### Intellij+iml ###
protocol/.idea/*
cloud/.idea
!protocol/.idea/runConfigurations/
protocol/out/
protocol/classes/

### Java ###
*.class
*.jar
hs_err_pid*

### Gradle ###
protocol/.gradle
protocol/build/
!gradle-wrapper.jar

### Node ###
logs
*.log
npm-debug.log*
node_modules/
typings/
.npm
dist/

